[defaults]
host_key_checking = False
# Inventory is omitted here to prevent running against the wrong env by accident

[callback_plugins]
# Enable OpenTelemetry tracing callback plugin
callback_plugins = ./callback_plugins
callbacks_enabled = opentelemetry_tracer
# Disable the built-in community.general.opentelemetry callback
callback_blacklist = community.general.opentelemetry

# Disable plugin failure if opentelemetry module is not available
callback_plugins_ignore_errors = True
